USE [master]
GO
/****** Object:  Database [LA_TIENDA]    Script Date: 07-05-2024 1:52:16 ******/
CREATE DATABASE [LA_TIENDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LA_TIENDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LA_TIENDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LA_TIENDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LA_TIENDA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LA_TIENDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LA_TIENDA]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 07-05-2024 1:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLIENTE] [numeric](18, 0)IDENTITY(1,1) NOT NULL,
	[RUT] [numeric](18, 0) NULL,
	[DV] [nchar](1) NULL,
	[NOMBRECLIENTE] [nchar](100) NULL,
	[APELLIDOPATERNO] [nchar](100) NULL,
	[APELLIDOMATERNO] [nchar](100) NULL,
	[EMAIL] [nchar](100) NULL,
	[TELEFONO] [nchar](20) NULL,
	[CELULAR1] [nchar](10) NULL,
	[CELULAR2] [nchar](10) NULL,
	[FECHACREACION] [datetime]  NULL,
	[VIGENTE] [numeric](1, 0) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
    (
        [IDCLIENTE] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 07-05-2024 1:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET IDENTITY_INSERT dbo.CLIENTES ON;
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDPRODUCTO] [numeric](18, 0) NOT NULL,
	[IDTIPOPRODUCTO] [numeric](18, 0) NULL,
	[IDPROVEEDOR] [numeric](18, 0) NULL,
	[NOMBREPRODUCTO] [nvarchar](250) NULL,
	[CODIGOPRODUCTO] [nvarchar](30) NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 07-05-2024 1:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[IDPROVEEDOR] [numeric](18, 0) NOT NULL,
	[NOMBREPROVEEDOR] [nvarchar](250) NULL,
 CONSTRAINT [PK_PROVEEDORES] PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOPRODUCTO]    Script Date: 07-05-2024 1:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOPRODUCTO](
	[IDTIPOPRODUCTO] [numeric](18, 0) NOT NULL,
	[NOMBRETIPOPRODUCTO] [nvarchar](250) NULL,
 CONSTRAINT [PK_TIPOPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IDTIPOPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTASDIARIAS]    Script Date: 07-05-2024 1:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTASDIARIAS](
	[NROVENTA] [numeric](18, 0)  NOT NULL,
	[FECHAVENTA] [datetime] NULL,
	[IDCLIENTE] [numeric](18, 0)  NULL,
	[IDPRODUCTO] [numeric](18, 0) NULL,
	[TIPOPAGO] [nvarchar](20)  NULL,
	[CANTIDAD] [numeric](18, 3)  NULL,
	[PRECIO] [numeric](18, 3)  NULL,
	[OBSERVACION] [nchar](100)  NULL,
 CONSTRAINT [PK_VENTASDIARIAS] PRIMARY KEY CLUSTERED 
(
	[NROVENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [IDTIPOPRODUCTO], [IDPROVEEDOR], [NOMBREPRODUCTO], [CODIGOPRODUCTO], [STOCK]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'DISCO DURO 500GB', N'1-HD-500GB', 100)
INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [IDTIPOPRODUCTO], [IDPROVEEDOR], [NOMBREPRODUCTO], [CODIGOPRODUCTO], [STOCK]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'DISCO DURO 1TB', N'1-HD-1TB  ', 200)
INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [IDTIPOPRODUCTO], [IDPROVEEDOR], [NOMBREPRODUCTO], [CODIGOPRODUCTO], [STOCK]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'DISCO DURO 2TB', N'1-HD-2TB  ', 300)
GO
INSERT [dbo].[PROVEEDORES] ([IDPROVEEDOR], [NOMBREPROVEEDOR]) VALUES (CAST(1 AS Numeric(18, 0)), N'TOSHIBA')
INSERT [dbo].[PROVEEDORES] ([IDPROVEEDOR], [NOMBREPROVEEDOR]) VALUES (CAST(2 AS Numeric(18, 0)), N'SEAGATE')
INSERT [dbo].[PROVEEDORES] ([IDPROVEEDOR], [NOMBREPROVEEDOR]) VALUES (CAST(3 AS Numeric(18, 0)), N'WD')
GO
INSERT [dbo].[TIPOPRODUCTO] ([IDTIPOPRODUCTO], [NOMBRETIPOPRODUCTO]) VALUES (CAST(1 AS Numeric(18, 0)), N'DISCO DURO PC')
INSERT [dbo].[TIPOPRODUCTO] ([IDTIPOPRODUCTO], [NOMBRETIPOPRODUCTO]) VALUES (CAST(2 AS Numeric(18, 0)), N'DISCO DURO NOTEBOOK')
INSERT [dbo].[TIPOPRODUCTO] ([IDTIPOPRODUCTO], [NOMBRETIPOPRODUCTO]) VALUES (CAST(3 AS Numeric(18, 0)), N'DISCO DURO EXTERNO')
GO
INSERT [dbo].[VENTASDIARIAS] ([NROVENTA], [FECHAVENTA], [IDCLIENTE], [IDPRODUCTO], [TIPOPAGO], [CANTIDAD], [PRECIO], [OBSERVACION]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(N'2010-02-01T00:00:00.000' AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'CN', CAST(1.000 AS Numeric(18, 3)), CAST(39900.000 AS Numeric(18, 3)), N'                                                                                                    ')
INSERT [dbo].[VENTASDIARIAS] ([NROVENTA], [FECHAVENTA], [IDCLIENTE], [IDPRODUCTO], [TIPOPAGO], [CANTIDAD], [PRECIO], [OBSERVACION]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(N'2000-02-04T00:00:00.000' AS DateTime), CAST(2 AS Numeric(18, 0)), CAST(37 AS Numeric(18, 0)), N'CN', CAST(3.000 AS Numeric(18, 3)), CAST(957000.000 AS Numeric(18, 3)), N'                                                                                                    ')
INSERT [dbo].[VENTASDIARIAS] ([NROVENTA], [FECHAVENTA], [IDCLIENTE], [IDPRODUCTO], [TIPOPAGO], [CANTIDAD], [PRECIO], [OBSERVACION]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(N'2000-02-06T00:00:00.000' AS DateTime), CAST(3 AS Numeric(18, 0)), CAST(34 AS Numeric(18, 0)), N'CN', CAST(3.000 AS Numeric(18, 3)), CAST(597000.000 AS Numeric(18, 3)), N'                                                                                                    ')
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PROVEEDOR] FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([IDPROVEEDOR])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_TIPOPRODUCTO] FOREIGN KEY([IDTIPOPRODUCTO])
REFERENCES [dbo].[TIPOPRODUCTO] ([IDTIPOPRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_TIPOPRODUCTO]
GO
ALTER TABLE [dbo].[VENTASDIARIAS]  WITH NOCHECK ADD  CONSTRAINT [FK_VENTASDIARIAS_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[VENTASDIARIAS] CHECK CONSTRAINT [FK_VENTASDIARIAS_CLIENTE]
GO
ALTER TABLE [dbo].[VENTASDIARIAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTASDIARIAS_PRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[VENTASDIARIAS] CHECK CONSTRAINT [FK_VENTASDIARIAS_PRODUCTO]
GO
USE [master]
GO
